hasura:
  service:
    nodePort: 30139

tezos-marketplace-indexer:
  environments: 
    TZKT_URL: http://tzkt:5000

tzkt:
  enabled: true
  service:
    nodePort: 30140
  environments:
    TezosNode__Endpoint: https://rpc.tzkt.io/mainnet