hasura:
  service:
    nodePort: 30139
  resources:
    limits:
      cpu: '1'
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi

tezos-marketplace-indexer-prod: &tezos-marketplace-indexer-prod
  environments:
    TZKT_URL: https://api.tzkt.io
    NETWORK: mainnet
  resources:
    limits:
      cpu: '2'
      memory: 3Gi
    requests:
      cpu: 200m
      memory: 1384Mi

tezos-marketplace-indexer-rarible:
  enabled: true
  replicas: 1
  <<: *tezos-marketplace-indexer-prod
  image:
    tag: master-3a1f7c-231
  command: [
    "dipdup", "-c", "dipdup.yml",
    "-c", 'dipdup.{{ include "app.env" $ }}.rarible.yml',
    "run"
    ]

tezos-marketplace-indexer-tezos:
  enabled: true
  replicas: 1
  <<: *tezos-marketplace-indexer-prod
  image:
    tag: master-3a1f7c-231
  command: [
    "dipdup", "-c", "dipdup.yml",
    "-c", 'dipdup.{{ include "app.env" $ }}.tezos.yml',
    "run"
  ]

tezos-marketplace-indexer-metadata:
  replicas: 1
  enabled: true
  <<: *tezos-marketplace-indexer-prod
  command: [
    "dipdup",
    "-c", 'dipdup.{{ include "app.env" $ }}.metadata.aux.yml',
    "run"
  ]
  environments:
    TZKT_URL: http://tzkt:5000
    NETWORK: mainnet
    POSTGRES_HOST: 'tmp-pg1.rarible.int'
    HASURA_URL: 'http://hasura:8080'
    KAFKA_ENABLED: 'true'

tezos-marketplace-indexer-royalties:
  replicas: 0
  enabled: false
  environments:
    TZKT_URL: http://aux-tzkt:5000
    NETWORK: mainnet
    POSTGRES_HOST: 'tmp-pg1.rarible.int'
    HASURA_URL: 'http://hasura:8080'
    KAFKA_ENABLED: "false"
  resources:
    limits:
      cpu: '2'
      memory: 3Gi
    requests:
      cpu: '2'
      memory: 1384Mi

aux-hasura:
  resources:
    limits:
      cpu: '2'
      memory: 2Gi
    requests:
      cpu: 400m
      memory: 512Mi

aux-tezos-marketplace-indexer-rarible:
  <<: *tezos-marketplace-indexer-prod
  image:
    repository: tezos-marketplace-indexer
  environments:
    TZKT_URL: https://api.tzkt.io
    NETWORK: mainnet
    HASURA_URL: 'http://hasura:8080'
    KAFKA_ENABLED: 'true'
    POSTGRES_HOST: 'tmp-pg1.rarible.int'
  command: [
    "dipdup", "-c", "dipdup.yml",
    "-c", 'dipdup.{{ include "app.env" $ }}.rarible.aux.yml',
    "run"
  ]

tzkt:
  instances: ['tzkt', 'aux-tzkt']
  api:
    resources:
      limits:
        cpu: '2'
        memory: 3Gi
      requests:
        cpu: '2'
        memory: 1384Mi
  indexer:
    resources:
      limits:
        cpu: 400m
        memory: 2Gi
      requests:
        cpu: 200m
        memory: 384Mi
  network: mainnet
  service:
    nodePort: 30140
  environments:
    TezosNode__Endpoint: https://rpc.tzkt.io/mainnet
    TokenMetadata__DipDup__Url: https://metadata.dipdup.net/v1/graphql
  ingress:
    hostname: 'tezos-tzkt.rarible.int'
    path: /
    ingressClassName: ingress-internal
    backend:
      service: tzkt
      port: http
