hasura:
  service:
    nodePort: 30439

tezos-marketplace-indexer-rarible:
  replicas: 1
  environments:
    TZKT_URL: http://tzkt:5000
    NETWORK: ghostnet

tezos-marketplace-indexer-tezos:
  replicas: 1
  environments:
    TZKT_URL: http://tzkt:5000
    NETWORK: ghostnet

tezos-marketplace-indexer-metadata:
  replicas: 1
  environments:
    TZKT_URL: http://tzkt:5000
    NETWORK: ghostnet
  resources:
    limits:
      memory: 768Mi
    requests:
      memory: 512Mi

tzkt:
  enabled: true
  api:
    resources:
      limits:
        memory: 768Mi
      requests:
        memory: 512Mi
    image:
      repository: fpto/rarible-tzkt-api
      tag: 1.10.0
  indexer:
    image:
      repository: fpto/rarible-tzkt-indexer
      tag: 1.10.0
  network: ghostnet
  service:
    nodePort: 30440
  environments:
    TezosNode__Endpoint: https://rpc.tzkt.io/ghostnet
    TokenMetadata__DipDup__Url: https://metadata.dipdup.net/v1/graphql
  ingress:
    hostname: 'tezos-tzkt.testnet.rarible.int'
    path: /
    ingressClassName: ingress-internal
    backend:
      service: tzkt
      port: http