tezos-marketplace-indexer-rarible:
  image:
    repository: tezos-marketplace-indexer
  command: [
    "dipdup", "-c", "dipdup.yml",
    "-c", 'dipdup.{{ include "app.env" $ }}.rarible.yml',
    "run"
    ]
  environments:
    APPLICATION_ENVIRONMENT: '{{ include "app.env" $ }}'
    KAFKA_ENABLED: "true"
    KAFKA_SECURITY_PROTOCOL: "PLAINTEXT"
    UNION_API: 'http://protocol-union-api.{{ include "app.env" $ }}-protocol:8080'
    # provided via secrets
    # POSTGRES_HOST:
    # POSTGRES_DB:
    # POSTGRES_USER:
    # POSTGRES_PASS:
    # KAFKA_ADDRESS:
    # KAFKA_SASL_MECHANISM:
    # KAFKA_USERNAME:
    # KAFKA_PASSWORD:
    # HASURA_GRAPHQL_ADMIN_SECRET:

  livenessProbe: false
  readinessProbe: false
#  resources:
#     requests:
#       cpu: '4'
#       memory: 2Gi
#     limits:
#       cpu: '4'
#       memory: 2Gi


tezos-marketplace-indexer-tezos:
  image:
    repository: tezos-marketplace-indexer
  command: [
    "dipdup", "-c", "dipdup.yml",
    "-c", 'dipdup.{{ include "app.env" $ }}.tezos.yml',
    "run"
    ]
  environments:
    APPLICATION_ENVIRONMENT: '{{ include "app.env" $ }}'
    KAFKA_ENABLED: "true"
    KAFKA_SECURITY_PROTOCOL: "PLAINTEXT"
    UNION_API: 'http://protocol-union-api.{{ include "app.env" $ }}-protocol:8080'
    # provided via secrets
    # POSTGRES_HOST:
    # POSTGRES_DB:
    # POSTGRES_USER:
    # POSTGRES_PASS:
    # KAFKA_ADDRESS:
    # KAFKA_SASL_MECHANISM:
    # KAFKA_USERNAME:
    # KAFKA_PASSWORD:
    # HASURA_GRAPHQL_ADMIN_SECRET:

  livenessProbe: false
  readinessProbe: false
#  resources:
#     requests:
#       cpu: '4'
#       memory: 2Gi
#     limits:
#       cpu: '4'
#       memory: 2Gi
  
hasura:
  image: 
    registry: docker.io
    repository: hasura/graphql-engine
    tag: v2.2.0
  service:
    enabled: true
  podAnnotations:
    prometheus.io/scrape: 'false'
  livenessProbe: 
    httpGet:
      path: /healthz
  readinessProbe: 
    httpGet:
      path: /healthz
  environments:
    HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
    HASURA_GRAPHQL_DEV_MODE: "true"
    HASURA_GRAPHQL_ENABLED_LOG_TYPES: "startup, http-log, webhook-log, websocket-log, query-log"
    HASURA_GRAPHQL_UNAUTHORIZED_ROLE: user
    HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES: "true"
    # provided via secrets
    # HASURA_GRAPHQL_ADMIN_SECRET:
    # HASURA_GRAPHQL_DATABASE_URL:
 
tzkt: 
  enabled: false
  network: mainnet
  api:
    image:
      repository: bakingbad/tzkt-api
      tag: 1.9.4
    resources:
      limits:
        cpu: 300m
        memory: 384Mi
      requests:
        cpu: 100m
        memory: 256Mi
  indexer:
    image:
      repository: bakingbad/tzkt-sync
      tag: 1.9.4
    resources:
      limits:
        cpu: 300m
        memory: 384Mi
      requests:
        cpu: 100m
        memory: 192Mi
  service:
    port: 5000
    # nodePort: 
  environments:
    Logging__LogLevel__Default: Warning
    TokenMetadata__DipDup__Url: http://hasura:8080/v1/graphql
    TezosNode__Endpoint: http://dev-tezos-node:8732/
    # provided via secrets
    # ConnectionStrings__DefaultConnection: 