aiohttp==3.8.1
aiokafka==0.7.2
aiosqlite==0.17.0
base58==2.1.1
certifi==2022.6.15
dipdup==6.1.3
email-validator==1.2.1
flake8==4.0.1
flakeheaven==3.0.0
prance==0.21.8.0
pytezos==3.6.1
twisted==22.4.0
attrs==21.4.0
click==8.0.4