{{- if .Values.global }}
{{- if and .Values.tzkt.enabled .Values.global.deployToKube }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: tzkt-config
data:
  appsettings.json: |
    {
      "Protocols": {
        "Diagnostics": false,
        "Validation": true
      },
      "TezosNode": {
        "Timeout": 60
      },
      "Quotes": {
        "Async": true,
        "Provider": {
          "Name": "TzktQuotes"
        }
      },
      "HealthChecks": {
        "Enabled": false,
        "Delay": 10,
        "Period": 10,
        "FilePath": "/tmp/sync.health"
      },
      "TokenMetadata": {
        "Enabled": true,
        "BatchSize": 100,
        "PeriodSec": 30,
        "OverriddenMetadata": [],
        "DipDup": [
          {{- if eq .Values.tzkt.network "mainnet" }}
          {
            "Url": "https://metadata.dipdup.net/v1/graphql",
            "MetadataTable": "token_metadata",
            "HeadStatusTable": "dipdup_head_status",
            "Network": "mainnet"
          },
          {
            "Url": "https://domains.dipdup.net/v1/graphql",
            "Network": "mainnet"
          },
          {
            "Url": "https://quartz.dipdup.net/v1/graphql",
            "Network": "mainnet"
          }
          {{ else }}
          {
            "Url": "{{ .Values.tzkt.environments.TokenMetadata__DipDup__Url }}",
            "MetadataTable": "token_metadata",
            "HeadStatusTable": "dipdup_head_status",
            "Network": "{{ .Values.tzkt.network }}"
          }    
          {{- end }}
        ]
      },
      "Logging": {
        "LogLevel": {
          "Default": "Information",
          "Microsoft": "Warning",
          "Microsoft.Hosting.Lifetime": "Information",
          "Tzkt.Sync.Services.TokenMetadata": "Information"
        },
        "Console": {
          "FormatterName": "simple",
          "FormatterOptions": {
            "UseUtcTimestamp": true
          }
        }
      }
    }
{{- end }}
{{- end }}